
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s ease;
  --v-lightblue: aliceblue;
  --d-gray:rgb(44, 44, 44);
  --v-lightgray:#edede9;
  --gray:rgb(184, 180, 180);
  --mint:#81b29a;
  --s-mint:#72dfac;
  --d-mint:#516d60;
  --d-gray: #343d39;
  scroll-behavior: smooth;
}

/*Sidebar *********** */
.sidebar{
  /* background-color: var(--v-lightblue); */
  background-color: var(--v-lightgray);
  color: var(--d-gray);
  font-family: 'Nunito', serif;
  /* width: 2.5rem; */
  height: 90vh;
  transition: height .3s ease-in-out ;
  box-shadow: 0 0 5px rgb(174, 182, 179);
}
.expanded{
  height: 2.5rem;
  
 /* width: 12rem; */
}
.sidebar button{
  cursor: pointer;
}
/* .sidebar .logo{
  border: 1px solid var(--d-gray);
} */

/*Nav *********** */
.navbar{
  background-color: var(--v-lightgray);
  font-family: 'Nunito', serif;
  color: var(--d-gray);
}
.navbar button{
  cursor: pointer;
}
.logo{
  color: var(--d-gray);
}
.nav-search{
  transition: width .3s ease-in-out ;
}
.search-on{
  width: 20rem;
  padding: .3rem;
  padding-left: .5rem;
}
.divider{
  color: var(--gray);
}
/*MAIN Slider********************/
.slides{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: slides 7s alternate-reverse infinite;
}
@keyframes  slides {
  0% {background: url(./assets/shopping4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  50% {background: url(./assets/shopping2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {background: url(./assets/shopping3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.slides h1{
  font-family: 'Kanit', serif;

}
/*Circles Slider*/
.circles-container{
  scroll-behavior: smooth;
  transition: all .3s ease;
}
.circles-wrapper{
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  /* background-color: var(--v-lightgray); */

}
.circles-wrapper::-webkit-scrollbar{
  display: none;
}
.circle-item{
  background-color: rgb(157, 189, 186);
  background-color: var(--mint);
  color: white;
  transition: all .2s ease;
  scroll-snap-align: start;
  cursor: pointer;


}
.circle-item:hover{
  scale: 1.05;
  transition: all .2s ease;

}
.circles-btn{
  color: rgb(92, 90, 90);
  cursor: pointer;
}
.circles-btn:hover{
  scale: 1.2;
}
/*AD *********************/
.ad{
object-fit: cover;
cursor: pointer;
}
/*section-header***********/
.main-section {
  background-color: var(--v-lightgray);
  margin: 1rem, auto;
}
.section-header{
  color: var(--d-gray);
}
.section-header .browse:hover{
  color: var(--s-mint);
}
/* CARD *****************************/
.card{
  font-family: 'Nunito', serif;
  border: 1px solid var(--gray);
  position: relative;
  cursor: pointer;
  background-color: white;
}
.card:hover {
  border: 2px solid var(--s-mint);

}

.card h3{
  color: black;
}
.card-heart{
  background-color: var(--v-lightgray);
  color: #e70101;
  transition: all .1s ease-in-out;
  cursor: pointer;
}
.card-heart:hover {
  scale: 1.2;
}

.tag1{
  background-color: #f9e2ff;
}
.tag2{
  background-color: #d4e7de;
}
.tag3{
  background-color: #f7f4d1;
}
.tag4{
  background-color: #d2e4f3;
}
.tag5{
  background-color: #f3dcd2;
}
.tag-w{
  background-color: white;
}

.card-btn{
  background-color: black;

  color: white;
  cursor: pointer;
  box-shadow: 0 2px 8px rgb(71, 69, 69);
}

.card-btn:hover{
  background-color: rgb(0, 0, 0, .9);
}
.card-btn:active{
  background-color: black;
}
/* UP *******************/
.up-btn{
  color: var(--mint);
  cursor: pointer;
}
/*Shoppin Cart*/

 .subtotal{
  width: 2rem;
  height: 2rem;
  background-color: white;
  overflow:hidden;
  border: none;

  transition: width .3s ease-in-out;
  color: black;
 }
 .subtotalon{
  width: 20vw;
  height: 10vw;
 }
 .sub-btn {
  background-color: white;

 }